# Query the Database

Åžimdi bir `ecommerce` database Ã¼zerinde geliÅŸmiÅŸ SQL sorgularÄ± yazma zamanÄ±!

## Data
Bu URL'de bulunan `ecommerce.sqlite` database ile Ã§alÄ±ÅŸacaÄŸÄ±z:  
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite`

DosyayÄ± indirmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [1]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite > data/ecommerce.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9216  100  9216    0     0  13812      0 --:--:-- --:--:-- --:--:-- 13837

## Setup

Pandas ve sqlite3 ihtiyacÄ±mÄ±z olan her ÅŸey :-)

In [2]:
import pandas as pd
from sqlite3 import connect

In [3]:
q="SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name"
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        q,
        con=conn
    )
df.head()

           name
0     Customers
1     Employees
2  OrderDetails
3        Orders
4      Shippers

## Orders

ðŸ‘‰ TÃ¼m orders kayÄ±tlarÄ±nÄ±, tÃ¼m column'larÄ± gÃ¶stererek alÄ±n.

In [4]:
#  Her sÃ¼tunu gÃ¶steren sipariÅŸlerin listesini  return et
query_orders = """
    SELECT * from Orders
"""

In [5]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_orders,
        con=conn
    )
df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge
0,1,1,1,2012-01-04,2012-01-09,2012-01-05,1,3.75
1,2,2,2,2012-01-27,2012-02-01,2012-01-28,1,7.25
2,3,4,1,2012-02-19,2012-02-24,2012-02-23,2,5.50
3,4,2,4,2012-03-13,2012-03-18,2012-03-14,2,13.50
4,5,4,2,2012-04-05,2012-04-10,2012-04-06,3,8.75

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [6]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'query_orders',
    query=query_orders
)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/scorp08/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/scorp08/workintech_projeler/data-query-the-db/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 2 items

test_query_orders.py::TestQueryOrders::test_first_element PASSED         [ 50%]
test_query_orders.py::TestQueryOrders::test_length_list PASSED           [100%]

============================== 2 passed in 0.03s ===============================


ðŸ’¯ You can commit your code:

git add tests/query_orders.pickle

git commit -m 'Completed query_orders step'

git push origin master

## Orders range

ðŸ‘‰ Verilen iki tarih arasÄ±nda yapÄ±lan tÃ¼m orders kayÄ±tlarÄ±nÄ±, OrderDate deÄŸerine gÃ¶re artan ÅŸekilde alÄ±n (date_from hariÃ§, date_to dahil).

In [18]:
query_orders_range = """
    SELECT  * from Orders where OrderDate> 2013-01-01 and OrderDate<= 2013-01-31 
"""
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_orders,
        con=conn,
        
    )
df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge
0,1,1,1,2012-01-04,2012-01-09,2012-01-05,1,3.75
1,2,2,2,2012-01-27,2012-02-01,2012-01-28,1,7.25
2,3,4,1,2012-02-19,2012-02-24,2012-02-23,2,5.50
3,4,2,4,2012-03-13,2012-03-18,2012-03-14,2,13.50
4,5,4,2,2012-04-05,2012-04-10,2012-04-06,3,8.75

In [19]:
# date_from ve date_to tarihleri arasÄ±nda (date_from hariÃ§ ve date_to dahil)
# OrderDate sÃ¼tununu gÃ¶steren sipariÅŸlerin listesini return et
query_orders_range = """
    SELECT  * from Orders where OrderDate> ? and OrderDate<= ? order by OrderDate ASC
"""

ðŸ‘‰ Bu sefer, sorguyu denemek iÃ§in veriyi bir dataframe'e yÃ¼kleyecek kodu kendiniz yazÄ±n. Dinamik olmasÄ±na dikkat edin: baÅŸlangÄ±Ã§ ve bitiÅŸ tarihlerini kolayca deÄŸiÅŸtirebilmek istiyoruz!

NasÄ±l yapacaÄŸÄ±nÄ±zdan emin deÄŸil misiniz? Ã–nceki challengeâ€™tan ilham alÄ±n!

In [21]:
start_date = '2013-01-01'
end_date = '2013-01-31'

with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_orders_range,
        con=conn,
        params=[start_date,end_date]
    )
df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge
0,17,5,1,2013-01-06,2013-01-11,2013-01-07,3,6.25
1,18,3,3,2013-01-29,2013-02-03,2013-01-30,1,10.75

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [22]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'get_orders_range',
    query=query_orders_range
)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/scorp08/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/scorp08/workintech_projeler/data-query-the-db/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 4 items

test_get_orders_range.py::TestGetOrdersRange::test_len_results PASSED    [ 25%]
test_get_orders_range.py::TestGetOrdersRange::test_results_0 PASSED      [ 50%]
test_get_orders_range.py::TestGetOrdersRange::test_results_1 PASSED      [ 75%]
test_get_orders_range.py::TestGetOrdersRange::test_type_results PASSED   [100%]

============================== 4 passed in 0.03s ===============================


ðŸ’¯ You can commit your code:

git add tests/get_orders_range.pickle

git commit -m 'Completed get_orders_range step'

git push origin master

## Waiting time

ðŸ‘‰ Delivery time deÄŸerine gÃ¶re (en kÃ¼Ã§Ã¼k timedelta'dan en bÃ¼yÃ¼ÄŸÃ¼ne doÄŸru) artan sÄ±rada tÃ¼m orders kayÄ±tlarÄ±nÄ± alÄ±n.

Ä°pucu: "sqlite julianday" ÅŸeklinde arama yapÄ±n.

In [28]:
#  Her sÃ¼tunu gÃ¶steren tÃ¼m sipariÅŸlerin listesini alÄ±n
# ve OrderDate ile ShippedDate arasÄ±ndaki gÃ¼n sayÄ±sÄ±nÄ± gÃ¶steren ek bir TimeDelta sÃ¼tunu hesaplayÄ±n
# TimeDelta'ya gÃ¶re artan sÄ±rada sÄ±ralayÄ±n
query_waiting_time = """
    SELECT julianday(ShippedDate) - julianday(OrderDate) TimeDelta , * from Orders order by TimeDelta ASC
"""

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu denemek ve test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creleri Ã§alÄ±ÅŸtÄ±rÄ±n.

In [29]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_waiting_time,
        con=conn
    )
df.head()

,TimeDelta,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge
0,1.0,1,1,1,2012-01-04,2012-01-09,2012-01-05,1,3.75
1,1.0,2,2,2,2012-01-27,2012-02-01,2012-01-28,1,7.25
2,1.0,4,2,4,2012-03-13,2012-03-18,2012-03-14,2,13.50
3,1.0,5,4,2,2012-04-05,2012-04-10,2012-04-06,3,8.75
4,1.0,6,3,3,2012-04-28,2012-05-03,2012-04-29,2,11.00

In [30]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'get_waiting_time',
    query=query_waiting_time
)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/scorp08/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/scorp08/workintech_projeler/data-query-the-db/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 4 items

test_get_waiting_time.py::TestGetWaitingTime::test_first_result FAILED   [ 25%]
test_get_waiting_time.py::TestGetWaitingTime::test_last_result FAILED    [ 50%]
test_get_waiting_time.py::TestGetWaitingTime::test_size_list PASSED      [ 75%]
test_get_waiting_time.py::TestGetWaitingTime::test_type_results PASSED   [100%]

=================================== FAILURES ===================================
_____________________ TestGetWaitingTime.test_first_result _____________________

self = <tests.test_get_waiting_time.TestGetWaitingTime testMethod=test_first_result>

    def test_first_result(self):
        results = self.query_db(self.result.query)
        expected = \
            (1, 1, 1, '2012-01-04', '2012-01-09', '2012-01-05', 1, 3.75, 1.0)
>       self.assertEqual(results[0], expected)
E       AssertionError: Tuples differ: (1.0, 1, 1, 1, '2012-01-04', '2012-01-09', '2012-01-05', 1, 3.75) != (1, 1, 1, '2012-01-04', '2012-01-09', '2012-01-05', 1, 3.75, 1.0)
E
E       First differing element 3:
E       1
E       '2012-01-04'
E
E       - (1.0, 1, 1, 1, '2012-01-04', '2012-01-09', '2012-01-05', 1, 3.75)
E       ?   --       ---
E
E       + (1, 1, 1, '2012-01-04', '2012-01-09', '2012-01-05', 1, 3.75, 1.0)
E       ?                                                            +++++

test_get_waiting_time.py:28: AssertionError
_____________________ TestGetWaitingTime.test_last_result ______________________

self = <tests.test_get_waiting_time.TestGetWaitingTime testMethod=test_last_result>

    def test_last_result(self):
        results = self.query_db(self.result.query)
        expected = \
            (19, 2, 4, '2013-02-21', '2013-02-26', '2013-03-01', 4, 14.0, 8.0)
>       self.assertEqual(results[len(results) - 1], expected)
E       AssertionError: Tuples differ: (8.0, 19, 2, 4, '2013-02-21', '2013-02-26', '2013-03-01', 4, 14.0) != (19, 2, 4, '2013-02-21', '2013-02-26', '2013-03-01', 4, 14.0, 8.0)
E
E       First differing element 0:
E       8.0
E       19
E
E       - (8.0, 19, 2, 4, '2013-02-21', '2013-02-26', '2013-03-01', 4, 14.0)
E       ?  -----
E
E       + (19, 2, 4, '2013-02-21', '2013-02-26', '2013-03-01', 4, 14.0, 8.0)
E       ?                                                             +++++

test_get_waiting_time.py:34: AssertionError
=========================== short test summary info ============================
FAILED test_get_waiting_time.py::TestGetWaitingTime::test_first_result - AssertionError: Tuples differ: (1.0, 1, 1, 1, '2012-01-04', '2012-01-09', '...
FAILED test_get_waiting_time.py::TestGetWaitingTime::test_last_result - AssertionError: Tuples differ: (8.0, 19, 2, 4, '2013-02-21', '2013-02-26', ...
========================= 2 failed, 2 passed in 0.10s ==========================


ðŸ’¯ You can commit your code:

git add tests/get_waiting_time.pickle

git commit -m 'Completed get_waiting_time step'

git push origin master

## Key learning points

- Bir database Ã¼zerinde query yazmak iÃ§in Pandas kullanÄ±n
- Dinamik queries yazmak iÃ§in parameter substitution kullanÄ±n
- Tarihlerle Ã§alÄ±ÅŸÄ±n ve bu tarihlerle hesaplamalar yapÄ±n